.probootstrap-logo {
  float: left;
  color: #76bde1;
  padding-left: 0px;
  font-size: 30px;
  display: block;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.main-title {
  font-size: 35px; /* Original font size */
  font-weight: 300; /* Original font weight */
  color: #76bde1;
  text-shadow: 2px 1px 2px rgba(255, 255, 255, 0.99); /* Add glow effect */
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align titles to the right */
  margin-top: -15px; /* Reduce space between the name and the titles */
}

.titles span {
  font-size: 14px; /* Increased font size */
  font-weight: 500; /* Adjusted font weight for elegance */
  color: #333; /* Darker color for better visibility */
  margin-top: 0px; /* Remove top margin */
  margin-bottom: -5px; /* Reduce space between titles */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.877); /* Add glow effect */
}

.titles span + span {
  margin-top: 0px; /* Remove additional space between titles */
}

.probootstrap-logo:hover,
.probootstrap-logo:focus,
.probootstrap-logo:active {
  color: #54a9d4;
  text-decoration: none;
}

